@model PagedList.IPagedList<WooxTravel.Entities.Destination>
@using PagedList
@using PagedList.Mvc

@{
    Layout = null;
}


<div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2> Hayalinizdeki Tatil Burada Başlıyor! 🌍</h2>
                    <p> Tatil planlarınızı gerçekleştirmek hiç bu kadar kolay olmamıştı! En özel destinasyonlardan, keyif dolu otellere; maviyle yeşilin buluştuğu sahillerden, huzur dolu doğa kaçamaklarına kadar her şey bir tık uzağınızda. Sitemizde, beklentilerinize uygun tatil seçeneklerini keşfedin ve unutulmaz anılar biriktireceğiniz yolculuğunuzu hemen planlayın. Avantajlı fiyatlar, güvenilir rezervasyon sistemi ve her tatil hayaline uygun seçeneklerle sizleri bekliyoruz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="items">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="@item.ImageUrl" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>@item.Country</h4>
                                                <span>@item.City</span>
                                                <div class="main-button">
                                                    <a href="/Countries/index/@item.DestinationId">Tur Detaylarını Gör</a>
                                                </div>
                                                <p>
                                                    @(item.Description.Length > 500 ? item.Description.Substring(0, 500) : item.Description)
                                                </p>
                                                <ul class="info">
                                                    <li><i class="fa fa-house"></i> @item.DayNight Gün - @(item.DayNight - 1) Gece</li>
                                                    <li><i class="fa fa-calculator"></i> @item.Price ₺</li>
                                                    <li><i class="fa fa-user"></i> @item.Capacity Kişi</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="/Countries/index/@item.DestinationId">Devamını Oku<i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a, .pagination li span {
                display: block;
                padding: 8px 12px;
                color: #24b4c4;
                background-color: #f8f9fa;
                border: 1px solid #ddd;
                border-radius: 5px;
                text-decoration: none;
                transition: all 0.2s ease;
            }

                .pagination li a:hover {
                    background-color: #24b4c4;
                    color: #fff;
                }

            .pagination li.active span {
                background-color: #24b4c4;
                color: #fff;
                border: 1px solid #24b4c4;
            }

    .show-more {
        color: #24b4c4;
        text-decoration: underline;
        cursor: pointer;
    }

        .show-more:hover {
            color: #007bff;
        }
</style>
